@font-face {
  font-family: 'Bit01';
  src: url('../fonts/bit01.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
}

.logo {
  font-family: 'Bit01';
  color: #fff;
  width: 2.1em;
  height: 2.1em;
  position: absolute;
  left: 47%;
  top: 47%;
  margin-left: -150px;
  margin-top: -150px;
  font-size: 10em;
}

@media print, screen and (max-width: 720px) {
}

@media print, screen and (max-width: 480px) {
  .logo {
    width: 2.1em;
    height: 2.1em;
    left: 51%;
    top: 50%;
    font-size: 8em;
  }
}
